{# templates/dons/edit_modal.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Faire un don</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/front/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/front/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/front/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/front/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/front/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/front/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/front/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/front/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/front/assets/css/responsive.css">
	 <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">


</head>


<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li ><a href="#">Home</a>
									<ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul>
								</li>
								<li><a href="about.html">About</a></li>
								<li class="current-list-item"><a href="#">Dons</a>
									<ul class="sub-menu">
                                        <li><a href='/dons/{userId}'>Faire un don</a></li>
										<li><a href='/demander_dons/{idUser}'>Demander dons</a></li>
										
									</ul>
								</li>
								<li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="shop.html">Shop</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Dons</p>
						<h1>Faire un don</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="container" style="width: 100%;">
    <div class="modifier-don-form" id="modifierDonForm{{ don.idDons }}" style="font-size: 20px;">
        <div class="modal-header">
            <h5 class="modal-title" style="font-size: 24px;">Modifier les données du don de l'événement : {{ nomEv }}</h5>
        </div>
        <div class="modal-body">
            {% if form_errors(form.nbpoints) %}
                <div class="text-danger" style="font-size: 18px;">
                    {{ form_errors(form.nbpoints) }}
                </div>
            {% endif %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-warning" style="font-size: 18px;">Enregistrer</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>






 
	
	<!-- copyright -->
	
	<!-- end copyright -->
	
<!-- jquery -->
	<script src="/front/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/front/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/front/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/front/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/front/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/front/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/front/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/front/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/front/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/front/assets/js/main.js"></script>
	<!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>


</body>


