<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="/front/assets/css/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <title>Inscrire</title>
        	<link rel="shortcut icon" type="image/png" href="/front/assets/img/favicon.png">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/front/assets/img/pp.jpeg" alt="">
        <div class="text">
          <span class="text-1"><br></span>
          <span class="text-2"></span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/front/assets/img/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>

     <div class="forms">
        <div class="form-content">
            <div class="signup-form">
<div class="title">Créer un nouveau compte </div>

         {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="input-boxes">

                <div class="input-box">
                    <i class="fas fa-user"></i>
                    {{ form_widget(form.nomuser, {'attr': {'placeholder': 'Nom', 'class': 'form-control'}}) }}
                    <div class="error">{{ form_errors(form.nomuser) }}</div>
                </div>

                <div class="input-box">
                    <i class="fas fa-user"></i>
                    {{ form_widget(form.prenomuser, {'attr': {'placeholder': 'Prénom', 'class': 'form-control'}}) }}
                    <div class="error">{{ form_errors(form.prenomuser) }}</div>
                </div>

                <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    {{ form_widget(form.emailuser, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}
                    <div class="error">{{ form_errors(form.emailuser) }}</div>
                </div>

                <div class="input-box">
                    <i class="fas fa-lock"></i>
                    {{ form_widget(form.mdp, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control'}}) }}
                    <div class="error">{{ form_errors(form.mdp) }}</div>
                </div>

                <div class="input-box">
                    <i class="fas fa-phone"></i>
                    {{ form_widget(form.numtel, {'attr': {'placeholder': 'Tél', 'class': 'form-control'}}) }}
                    <div class="error">{{ form_errors(form.numtel) }}</div>
                </div>

              

                <div class="button input-box">
                    <input type="submit" value="Confrimer">
                </div>

                <div class="text sign-up-text"><a href="/login">Vous avez déjà un compte ? Login</div>
            </div>
            {{ form_end(form) }}
     </div>
    </div>
    </div>
  </div>
</body>
</html>
