
{% block body %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>ESPRITMARKET</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>
<style>
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-icon {
    cursor: pointer;
}
</style>

	
	
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="/front/assets/img/logo.png" alt="" class="logo-img">
							</a>
						</div>
						<style>
							.logo-img {
								max-width: 250px; /* ajustez la valeur en fonction de la taille maximale souhaitée */
                               height: auto;
							   margin-top: -12px;
							}
						</style>
						<!-- logo -->
                        
						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="{{path('app_produit')}}">Home</a></li>
	                          <li class="sub-menu"><a href="/dons">Dons</a>
									<ul class="sub-menu">
                                        <li><a href='/dons'>Faire un don</a></li>
										<li><a href='/demander_dons'>Demander dons</a></li>
										
									</ul>
								</li>
								<li class="sub-menu"><a href="{{ path('app_evenement_front')}}">Evénements</a>
									<ul class="sub-menu">
										<li><a href="{{ path('app_evenement_front')}}">Evénements</a></li>
										<li><a href="{{ path('app_reclamation_new')}}">Réclamation</a></li>
									</ul>
								</li>
								<li><a href="">Publications</a></li>


								<li ><a href="{{ path('app_produit_front')}}">Produits</a>
									<ul class="sub-menu">
										<li><a href="checkout.html">Historique des commandes</a></li>
										<li ><a href="{{ path('afficher_produit_panier', {'idUser': user.iduser}) }}">Panier</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{{ path('afficher_produit_panier', {'idUser': user.iduser}) }}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
										<a class="logout-icon" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
<a href="{{ path('app_profile_user') }}" class="btn btn-primary rounded-pill py-2 px-3">
    <i class="fas fa-user"></i> <!-- Icône utilisateur -->
</a>


									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end --></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
    {% endblock body %}